<s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsman="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" xmlns:n1="http://schemas.dell.com/wbem/wscim/1/cim-schema/2/DCIM_LCService">
  <s:Header>
    <wsa:Action s:mustUnderstand="true">http://schemas.dell.com/wbem/wscim/1/cim-schema/2/DCIM_LCService/SetCertificateAndPrivateKey</wsa:Action>
    <wsa:To s:mustUnderstand="true">https://{{ idrac_address }}:{{ idrac_https_port }}/wsman</wsa:To>
    <wsman:ResourceURI s:mustUnderstand="true">http://schemas.dell.com/wbem/wscim/1/cim-schema/2/DCIM_LCService</wsman:ResourceURI>
    <wsa:MessageID s:mustUnderstand="true">uuid:{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=14') }}-{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=4') }}-{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=4') }}-{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=4') }}-{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=10') }}</wsa:MessageID>
    <wsa:ReplyTo>
      <wsa:Address>http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:Address>
    </wsa:ReplyTo>
    <wsman:SelectorSet>
      <wsman:Selector Name="Name">DCIM:LCService</wsman:Selector>
      <wsman:Selector Name="__cimnamespace">root/dcim</wsman:Selector>
      <wsman:Selector Name="SystemName">DCIM:ComputerSystem</wsman:Selector>
      <wsman:Selector Name="CreationClassName">DCIM_LCService</wsman:Selector>
      <wsman:Selector Name="SystemCreationClassName">DCIM_ComputerSystem</wsman:Selector>
    </wsman:SelectorSet>
  </s:Header>
  <s:Body>
    <n1:SetCertificateAndPrivateKey_INPUT>
      <n1:Type>server</n1:Type>
      <n1:PKCS12>
{{ lookup('file', certificate_pkcs12.filename) |  b64encode }}
</n1:PKCS12>
      <n1:PKCS12pin>{{ pkcs12_password or  "Passw0rd." }}</n1:PKCS12pin>
    </n1:SetCertificateAndPrivateKey_INPUT>
  </s:Body>
</s:Envelope>
